// PAGE;
$clr-dark1: #191919;
$clr-dark2: #111;
$clr-dark3: #000000b5;

// TYPOGRAPHY
$clr-main: #5920b2;
$clr-text-st: #eae8ff;
$clr-text-sec: #bbbaccd2;

//-----------------------
// FONT-SIZE;
$fz-sm: 1.4rem;
$fz-nr: 1.6rem;
$fz-lg: 2rem;

//-----------------------
// BORDER-RADIUS;
$rounded-sm: 4px;
$rounded-nr: 8px;
$rounded-md: 15px;
$rounded-full: 9999px;
